DISCORD_TOKEN = "" # Discord bot token

PREFIX = "" # Prefix for commands

ALLOWED_GUILD_ID = ""  # ID of the guild

NEW_MEMBER_ROLE_ID = "" # Role for new members
VERIFIED_ROLE_ID = ""   # Role for verified members

# Comma-separated lists of IDs; leave empty "" if none
REVERIFY_EXCLUDED_ROLE_IDS = ""
REVERIFY_EXCLUDED_USER_IDS = ""
